# ===============================
# ΜySQL (για το container)
# ===============================
MYSQL_ROOT_PASSWORD=my_password
MYSQL_DATABASE=recipesdb

# ===============================
# Spring Boot (χρήστης εφαρμογής, τον ορίζουμε στο .sql)
# ===============================
SPRING_DATASOURCE_USERNAME=app_user
SPRING_DATASOURCE_PASSWORD=strong_password_here